<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <title>Details of Sneakers </title>
    <!-- External CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css"/>
  </head>
  <header>
    <%- include('partials/_header') %>
  </header>
  <body>
    <!-- Details of a Product -->

    <section class="shoes-by-seller">


      <div class="card w-50" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%=sneakers.title %></h5>
        </div>
        <img src="<%= sneakers.cover_photo_url %>" class="card-img-top" alt="item_photo">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Brand: <%= sneakers.brand %></li>
          <li class="list-group-item">Price: $ <%= sneakers.price %> CAD</li>
          <li class="list-group-item">Description: <%= sneakers.size %></li>
          <li class="list-group-item">Description: <%= sneakers.description %></li>
        </ul>
        <div class="card-footer">
          <a href="#" class="btn btn-success btn-lg btn-block">Buy <span class="fa fa-shopping-cart" aria-hidden="true"></span></a>
        </div>
      </div>

      <div class="right-buttons new-message">
        <form id="message-form" action="/sneakers_messages/<%= sneakers.id %>" method="POST">
          <input type="text" id="message-input" name="new_message" class="message-text" placeholder="message" />
          <span>
            <button type="submit" class="btn btn-primary">Send message</button>
          </span>
        </form>
      </div>


    </section>
  </body>
</html>




